* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    height: 150px;
    color:rgb(144, 190, 138);
    display: gird;
    grid-template-rows: 100px 1fr; 
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
    overflow: hidden;
    margin-left:30px;
    margin-top:15px;
    animation-name: banner-content;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
  }
  
  .container > * {
    position: absolute;
  }
  
  .container > h1 {
    top: 70px;
    width:100%;
    text-align: center;
    font-size:xx-large;
    font-weight:bold;
    animation-name: banner-content;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}

.container > p {
  top: 90px;
  width:100%;
  text-align: center;
  animation-name: banner-content;
  animation-duration: 2.5s;
}

.form-search {
    width: 45%;
    height:600px;
    background: #eee;
    text-align: center;
    padding: 20px;
    margin: auto;
    border-radius:10%;
    animation-name: banner-content;
    animation-duration: 2.5s;
  
}

.form-search > h3 {
    top: 80px;
    left: 50px;
    color: black;
    padding-bottom:10px;
  animation-name: banner-title;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
}

button {
    height:35px;
    width:70px;
    background-color: rgb(144, 190, 138);
    color:#eee;
    border: 1px solid #eee;
     }

input {
    height:30px;
    width:300px;
    border: 5px solid rgb(144, 190, 138);
}

li {
    margin:5px;
    padding:10px;
    list-style:none;
}

@keyframes banner-title {
  from { left: -50%; }
  to { left: 50px; }
}

@keyframes banner-content {
  from { opacity: 0; }
  to { opacity: 1; }
}

